.Image{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F0F3;
  .picList{
    width: calc(100% - 40px);
    min-height: 300px;
    background-color: #ffffff;
    padding: 20px;
    Text{
      padding-left: 14px;
      margin-bottom: 20px;
      display: block;
    }
  }
  .SNCode{
    width: calc(100% - 20px);
    height: 80px;
    padding: 0 10px;
    background-color: #ffffff;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .SNCode Text{
    // padding-left: 32px;
  }
  .SNCode at-input{
    width: calc(100% - 20px);
    text-align: right;
  }
  .SNCode .at-input{
    margin-left: 0;
  }
  .carType{
    width: calc(100% - 20px);
    padding: 20px 10px;
    background-color: #ffffff;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .carType Text{
    width: 150px;
  }
  .carType picker{
    text-align: right;
    padding-right: 10px;
  }
  .pureInstall{
    width: calc(100% - 20px);
    padding: 20px 10px;
    background-color: #ffffff;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contentBar {
    width: calc(100% - 20px);
    padding: 0 10px;
    background-color: #ffffff;
    margin-top: 30px;
  }
  .columnTit{
    padding: 12px 0;
    display: block;
  }
  .columnTit::before{
    content: ' ';
    display: inline-block;
    width: 6px;
    height: 25px;
    position: relative;
    top: 0;
    background: #6190e8;
    margin-right: 10px;
  }
  .note{
    width: 100%;
    padding: 20px;
    margin-top: 30px;
  }
}
.at-radio__option-wrap {
  padding: 12px 32px 12px 0;
}