.Image{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F0F3;
  overflow-x: hidden;
  .picList{
    width: calc(100% - 40px);
    min-height: 300px;
    background-color: #ffffff;
    padding: 20px;
    Text{
      padding-left: 14px;
      margin-bottom: 20px;
      display: block;
    }
  }
  .SNCode{
    width: calc(100% - 20px);
    height: 80px;
    padding: 0 10px;
    background-color: #ffffff;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .SNCode Text{
    // padding-left: 32px;
  }
  .SNCode at-input{
    width: calc(100% - 20px);
    text-align: right;
  }
  .SNCode .at-input{
    margin-left: 0;
  }
  .carType{
    width: calc(100% - 20px);
    padding: 20px 10px;
    background-color: #ffffff;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .carType Text{
    width: 150px;
  }
  .carType picker{
    text-align: right;
    padding-right: 10px;
  }
  .pureInstall{
    width: calc(100% - 20px);
    padding: 20px 10px;
    background-color: #ffffff;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contentBar {
    width: calc(100% - 20px);
    padding: 0 10px;
    background-color: #ffffff;
    margin-top: 30px;
  }
  .plus{
    width:100%;
    height: 60px;
    text-align: center;
    padding: 12px 0;
    background:ffffff;
    border: 2px dashed #6190e8;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .columnTit{
    padding: 12px 0;
    display: block;
  }
  .columnTit::before{
    content: ' ';
    display: inline-block;
    width: 6px;
    height: 25px;
    position: relative;
    top: 0;
    background: #6190e8;
    margin-right: 10px;
  }
  .pListTit{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .pListTit Text{
    display: inline-block;
    font-size: 26px;
  }
  .pListTit{
    font-size: 26px;
  }
  .pListTit Text:nth-of-type(1) {
    width: 54%;
  }
  .pListTit Text:nth-of-type(2) {
    width: 16%;
  }
  .pListTit Text:nth-of-type(3) {
    width: 10%;
  }
  .pListTit Text:nth-of-type(4) {
    width: 20%;
  }
  .inputBlock{
    width: 20%;
    display: inline-block;
  }
  .inputBlock View{
    // width: 100%;
    // display: flex;
    // align-items: center;
  }
  .inputBlock at-input{
    width: 94%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    text-align: right;
    display: inline-block;
    border-bottom: 1px solid #ccc;
  }
  .inputBlock .at-input{
    margin-left: 0;
    margin-bottom: 0;
  }
  .inputBlock .at-input input{
    height: auto;
  }
  .inputBlock .at-input__input{
    font-size: 28px;
    padding-right: 0px;
  }
  .inputFee .at-input__input{
    font-size: 26px;
    color: #f35957;
    padding-right: 0px;
    border-bottom: 1px solid #f35957;
  }
  .note{
    width: 100%;
    padding: 20px;
    margin-top: 30px;
  }
  .btBlock{
    width:90%;
    margin-top:40px;
    margin-bottom:20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .bt{
    width: 200px;
  }
}
.at-radio__option-wrap {
  padding: 12px 32px 12px 0;
}
.TextAlignR{
  text-align: right;
}